﻿@model IEnumerable<RenderService.Web.Models.RenderMonitorInfoViewModel>

@{
    ViewBag.Title = "Monitors";
}

@section Styles {
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
}
<h1>Monitors</h1>

<div id="dashboard-buttons" align="right">
    <button id="refreshbutton" class="dashboard-button"><span>Refresh</span></button>

    <script type="text/javascript">
        $(function () {
            $(".dashboard-button").button();
            $("#refreshbutton").click(function () {
                $("#monitors_table").trigger("reloadGrid");
            });
        });
    </script>
</div>

<div id="monitors">
    <table id="monitors_table" class="scroll" cellpadding="0" cellspacing="0"></table>
    <div id="monitors_pager" class="scroll" style="text-align:center;"></div>
    
    <!-- Must load language tag BEFORE script tag -->
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#monitors_table").jqGrid({
                url: '/Admin/Monitors',
                datatype: 'json',
                mtype: 'POST',
                autowidth: true,
                colNames: ['MachineName', 'IP Address', 'Available Memory', 'CPU Usage', 'Number of Jobs'],
                colModel: [
                    { name: 'MachineName', index: 'MachineName', width: 50, key: true },
                    { name: 'IPAddress', index: 'IPAddress', width: 100 },
                    { name: 'Memory', index: 'Memory', width: 60 },
                    { name: 'CPU', index: 'CPU', width: 50 },
                    { name: 'Jobs', index: 'Jobs', width: 50 }
                ],
                pager: jQuery('#monitors_pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'ID',
                sortorder: "asc",
                viewrecords: true,
                imgpath: ''
            });
        }); 
    </script>

</div>