﻿@model RenderService.Web.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/themes/profi-admin/css/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/blue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/renderservice.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container_16">
        <div class="grid_6 prefix_5 suffix_5">
            <h1>Rendering Service - Login</h1>

            <div id="login">
                <p class="tip">
                    Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.
                </p>

                @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { id = "form1" })) {
                    <p>
                        <label>
                            <strong>Username</strong>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "inputText" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </label>
                    </p>
                    <p>
                        <label>
                            <strong>Password</strong>
                            @Html.PasswordFor(m => m.Password, new { @class = "inputText" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </label>
                    </p>

                    <input type="submit" class="black_button" value="Login" />

                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        Remember me
                    </label>
                }
                <br clear="all" />
            </div>

            <div id="forgot">
                <a href="#" class="forgotlink"><span>Forgot your username or password?</span></a>
            </div>
        </div>
    </div>
    <br clear="all" />
</body>
</html>
