﻿@model RenderService.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/profi-admin/css/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/blue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/renderservice.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container_16">
        <div class="grid_6 prefix_5 suffix_5">
            <h1>Rendering Service - Register</h1>

            <div id="login">
                <p class="tip">
                    Use the form below to create a new account.
                </p>
                <p class="tip">
                    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
                    characters in length.
                </p>
                @using (Html.BeginForm()) {
                    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
                    <div>
                        <p>
                            <label>
                                <strong>Username</strong>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "inputText" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </label>
                        </p>
                        <p>
                            <label>
                                <strong>@Html.LabelFor(m => m.Email)</strong>
                                @Html.TextBoxFor(m => m.Email, new { @class = "inputText" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </label>
                        </p>
                        <p>
                            <label>
                                <strong>@Html.LabelFor(m => m.Password)</strong>
                                @Html.PasswordFor(m => m.Password, new { @class = "inputText" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </label>
                        </p>
                        <p>
                            <label>
                                <strong>@Html.LabelFor(m => m.ConfirmPassword)</strong>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputText" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </label>
                        </p>

                        <input type="submit" class="black_button" value="Register" />

                        <br clear="all" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
