﻿@model RenderService.Web.Models.RenderJobViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="details">
    <div id="jobSummary">
        <p>
            <label for="Title">Scene:</label>
            @Html.DisplayFor(m => Model.SceneName)
        </p>
        <p>
            <label for="Title">Status:</label>
            @Html.DisplayFor(m => Model.Job.Status)
        </p>
        @if (Model.Job.Status == RenderService.Domain.RenderJobStatus.InProgress ||
                     Model.Job.Status == RenderService.Domain.RenderJobStatus.WaitingForDispatch) {
            <a id="stoprender" href="@Url.Action("StopRender", "Renders", new { id = Model.Job.ID })">
                Stop Render</a>

            <script type="text/javascript">
                $(function () {
                    $('#stoprender').button();
                });
            </script>
        }
        <p>
            <label for="Title">Uploaded Date:</label>
            @Html.DisplayFor(m => Model.Job.CreatedDate)
        </p>
        @if (Model.Job.Status == RenderService.Domain.RenderJobStatus.WaitingForSubmission) {
            <div id="submitInfo">
                @using (Html.BeginForm("Details", "Renders", FormMethod.Post)) {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Submit Render</legend>
                        <p>
                            <label for="Title">
                                X-Resolution:</label>
                            @Html.EditorFor(m => Model.Job.XResolution)
                            @Html.ValidationMessageFor(m => Model.Job.XResolution)
                        </p>
                        <p>
                            <label for="Title">
                                Y-Resolution:</label>
                            @Html.EditorFor(m => Model.Job.YResolution)
                            @Html.ValidationMessageFor(m => Model.Job.YResolution)
                        </p>
                        <p>
                            <label for="Title">
                                Samples per Pixel:</label>
                            @Html.EditorFor(m => Model.Job.SamplesPerPixel)
                            @Html.ValidationMessageFor(m => Model.Job.SamplesPerPixel)
                        </p>
                        <p>
                            <input type="submit" value="Submit" />
                        </p>
                    </fieldset>
                }
            </div>
        }
        else {
            <div id="jobDetails">
                <h4>
                    Details</h4>
                <p>
                    <label for="Title">
                        X-Resolution:</label>
                    @Html.DisplayFor(m => Model.Job.XResolution)
                </p>
                <p>
                    <label for="Title">
                        Y-Resolution:</label>
                    @Html.DisplayFor(m => Model.Job.YResolution)
                </p>
                <p>
                    <label for="Title">
                        Samples per Pixel:</label>
                    @Html.DisplayFor(m => Model.Job.SamplesPerPixel)
                </p>
            </div>
        }
    </div>
</div>
