﻿@model RenderService.Web.Models.RenderJobViewModel
<div id="output">
    @if (Model.Job.Results.Count == 0) {
        <span>No results have been rendered.</span>
    }
    else {
        <div id="gallery" style="height: 500px">
            @{
                var completedResults = Model.Job.Results
                                                .Where(r => r.Status == RenderService.Domain.RenderResultStatus.PartialResultComplete ||
                                                            r.Status == RenderService.Domain.RenderResultStatus.Complete);
                foreach (var result in completedResults) {
                    var imageUrl = Url.Action("DownloadResult", "Renders", new { id = result.RenderJob.ID, resultId = result.ID });
                        <a href="@imageUrl">
                            <img src="@imageUrl" alt="@result.ImageFile" title="@result.ImageFile" />
                        </a>
                }
            }
        </div>

        <br />

        <a id="download" href="#"><span>Download Current Image</span></a>

        <script src="@Url.Content("~/Scripts/galleria-1.2.5.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                Galleria.loadTheme('@Url.Content("~/Scripts/galleria.classic.min.js")');

                $('#gallery').galleria({
                    width: 'auto',
                    height: '200',
                    transition: 'fade',
                    extend: function (options) {
                        var gallery = this; // "this" is the gallery instance

                        this.bind(Galleria.IMAGE, function (e) {
                            var currImg = gallery.getActiveImage();
                            var srcText = $(currImg).attr('src');
                            var titleText = $(currImg).attr('title');
                            $('#download').attr('href', srcText);
                            $('#download').attr('title', titleText);
                        });
                    }
                });

                $(function () {
                    $("#download").button();
                });
            });
        </script>
    }
</div>
