﻿<div id="renders">
    <table id="renders_table" class="scroll" cellpadding="0" cellspacing="0"></table>
    <div id="renders_pager" class="scroll" style="text-align:center;"></div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#renders_table").jqGrid({
                url: '/Renders/',
                datatype: 'json',
                mtype: 'POST',
                autowidth: true,
                colNames: ['ID', 'Scene', 'Status', 'X-Resolution', 'Y-Resolution', 'Samples/Pixel'],
                colModel: [
                    { name: 'ID', index: 'ID', width: 50, key: true },
                    { name: 'SceneFileName', index: 'SceneFileName', width: 100 },
                    { name: 'Status', index: 'Status', width: 60 },
                    { name: 'XResolution', index: 'XResolution', width: 50 },
                    { name: 'YResolution', index: 'YResolution', width: 50 },
                    { name: 'SamplesPerPixel', index: 'SamplesPerPixel', width: 60 }
                ],
                pager: jQuery('#renders_pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'ID',
                sortorder: "asc",
                viewrecords: true,
                imgpath: '',
                onSelectRow: function (id) {
                    $("#renderdetails").load('/Renders/' + id);
                    $("#renderoutput").load('/Renders/Output/' + id);

                    function showTooltip(x, y, contents) {
                        $('<div id="tooltip">' + contents + '</div>').css({
                            position: 'absolute',
                            display: 'none',
                            top: y - 35,
                            left: x + 0,
                            color: '#333',
                            border: '1px solid #999',
                            padding: '2px',
                            'background-color': '#EFEFEF',
                            opacity: 0.80
                        }).appendTo("body").fadeIn(200);
                    }

                    // Load the resources data and plot graphs.
                    $.get('Renders/CpuGraphData/' + id, function (data) {
                        var options = {
                            series: {
                                lines: { show: true },
                                points: { show: true }
                            },
                            xaxis: { min: 0 },
                            yaxis: { min: 0 },
                            shadowSize: 2,
                            colors: ["#639ecb"], //639ecb //e03c42
                            grid: { hoverable: true, clickable: true, labelMargin: 10 }
                        };
                        var plot = $.plot($("#cpugraph"), [data], options);

                        var previousPoint = null;
                        $("#cpugraph").bind("plothover", function (event, pos, item) {
                            $("#x").text(pos.x.toFixed(2));
                            $("#y").text(pos.y.toFixed(2));
                            if (item) {
                                if (previousPoint != item.datapoint) {
                                    previousPoint = item.datapoint;

                                    $("#tooltip").remove();
                                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                                    showTooltip(item.pageX,
                                                item.pageY,
                                                "Total Processor Time: " + y + "ms");
                                }
                            }
                            else {
                                $("#tooltip").remove();
                                previousPoint = null;
                            }
                        });
                    });

                    $.get('Renders/MemoryGraphData/' + id, function (data) {
                        var options = {
                            series: {
                                lines: { show: true },
                                points: { show: true }
                            },
                            xaxis: { min: 0 },
                            yaxis: { min: 0 },
                            shadowSize: 2,
                            grid: { hoverable: true, clickable: true, labelMargin: 10 }
                        };
                        var plot = $.plot($("#memgraph"), [data], options);

                        var previousPoint = null;
                        $("#memgraph").bind("plothover", function (event, pos, item) {
                            $("#x").text(pos.x.toFixed(2));
                            $("#y").text(pos.y.toFixed(2));
                            if (item) {
                                if (previousPoint != item.datapoint) {
                                    previousPoint = item.datapoint;

                                    $("#tooltip").remove();
                                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                                    showTooltip(item.pageX,
                                                item.pageY,
                                                "Mean Working Set: " + y + "Bytes");
                                }
                            }
                            else {
                                $("#tooltip").remove();
                                previousPoint = null;
                            }
                        });
                    });
                }
            });
        }); 
    </script>
</div>