﻿@model RenderService.Web.Models.RenderJobViewModel

@{
    ViewBag.Title = "Render Job";

    Html.EnableClientValidation();
}

<h2>Render Job</h2>

@{ Html.RenderPartial("_Details", Model); }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
