﻿@{
    ViewBag.Title = "Dashboard";
}

@section Styles {
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/galleria_classic/galleria.classic.css")" rel="Stylesheet" type="text/css" />
}

<h1 class="dashboard">Dashboard</h1>

<div id="dashboard-buttons" align="right">
    <a href="@Url.Action("Index", "Renders")" id="refreshbutton" class="dashboard-button"><span>Refresh</span></a>

    <script type="text/javascript">
        $(function () {
            $(".dashboard-button").button();
        });
    </script>
</div>

<!-- #PORTLETS START -->
<div id="portlets">

    <!--THIS IS A WIDE PORTLET-->
    <div class="portlet">
        <div class="portlet-header fixed"><img src="@Url.Content("~/Content/themes/profi-admin/images/icons/user.gif")" width="16" height="16" alt="My Renders" /> My Renders</div>
        <div class="portlet-content nopadding">
            @{
                Html.RenderPartial("_RendersGrid");
            }
        </div>
    </div>

    <!-- FIRST SORTABLE COLUMN START -->
    <div class="column" id="left">
        <div class="portlet">
            <div class="portlet-header">Render Job Details</div>
            <div class="portlet-content">
                <div id="renderdetails"><span>Select a render to display details</span></div>
            </div>
        </div>

        <div class="portlet">
            <div class="portlet-header"><img src="@Url.Content("~/Content/themes/profi-admin/images/icons/chart_bar.gif")" width="16" height="16" alt="Reports" />CPU Usage</div>
            <div class="portlet-content">
            <!--THIS IS A PLACEHOLDER FOR FLOT - Report & Graphs -->
            <div id="cpugraph" style="width:auto; height:250px;"></div>
            </div>
        </div>

        <div class="portlet">
            <div class="portlet-header"><img src="@Url.Content("~/Content/themes/profi-admin/images/icons/chart_bar.gif")" width="16" height="16" alt="Reports" />Memory Usage</div>
            <div class="portlet-content">
            <!--THIS IS A PLACEHOLDER FOR FLOT - Report & Graphs -->
            <div id="memgraph" style="width:auto; height:250px;"></div>
            </div>
        </div>
    </div>
    <!-- FIRST SORTABLE COLUMN END -->

    <!-- SECOND SORTABLE COLUMN START -->
    <div class="column">
        <div class="portlet">
            <div class="portlet-header">Render Job Output</div>
            <div class="portlet-content">
                <div id="renderoutput"><span>Select a render to display render output.</span></div>
            </div>
        </div>
    </div>
    <!-- SECOND SORTABLE COLUMN END -->
</div>
<!--  END #PORTLETS -->  
<div class="clear"> </div>

<!-- Must load language tag BEFORE script tag -->
<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>