﻿@model RenderService.Web.Models.RenderJobViewModel

@{
    ViewBag.Title = "Upload";
}

<h1 class="content_edit">Upload a scene to Render</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<p>
    <span>Upload the scene package to be rendered.</span>
</p>

@using (Html.BeginForm("Upload", "Renders", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <div class="editor-label">
        @Html.Label("Package")
    </div>
    <div class="editor-field">
        <input type="file" name="packageFile" id="packageFile" />
    </div>

    <p>
        <input type="submit" value="Upload" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
