﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/themes/profi-admin/css/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/blue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/profi-admin/css/renderservice.css")" rel="stylesheet" type="text/css" />

    @RenderSection("Styles", required: false)

    <link href="@Url.Content("~/Content/themes/redmond/css/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.15.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/profi-admin/js/blend/jquery.blend.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/profi-admin/js/effects.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/profi-admin/js/flot/jquery.flot.pack.js")"></script>
    <!--[if IE]>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content/themes/profi-admin/js/flot/excanvas.pack.js")"></script>
    <![endif]-->
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/profi-admin/css/iefix.css")" />
    <script src="@Url.Content("~/Content/themes/profi-admin/js/pngfix.js")"></script>
    <script>
        DD_belatedPNG.fix('#menu ul li a span span');
    </script>        
    <![endif]-->
</head>

<body>
<!-- WRAPPER START -->
<div class="container_16" id="wrapper">
    <!--LOGO-->
    <div class="grid_8" id="logo">Rendering Service</div>


    <!-- USER TOOLS START -->
    <div class="grid_8">
      <div id="user_tools"><span><a href="#" class="mail">(0)</a> Welcome <strong>@User.Identity.Name</strong>  |  @Html.ActionLink("Logout", "LogOff", "Account")</span></div>
    </div>
    <!-- USER TOOLS END -->    

    <!-- MENU START -->
    <div class="grid_16" id="header">
        <div id="menu">
            <ul class="group" id="menu_group_main">
                @functions{
                    public string GetMenuItemCurrentStatus(string item) {
                        return (item == ViewBag.Title) ? "current" : string.Empty;
                    }
                }
                <li class="item first" id="one"><a href="@Url.Action("Index", "Renders")" class="main @GetMenuItemCurrentStatus("Dashboard")"><span class="outer"><span class="inner dashboard">Dashboard</span></span></a></li>
                <li class="item middle" id="two"><a href="@Url.Action("Upload", "Renders")" class="main @GetMenuItemCurrentStatus("Upload")""><span class="outer"><span class="inner content">Upload</span></span></a></li>
                <li class="item middle" id="three"><a href="@Url.Action("Monitors", "Admin")" class="main @GetMenuItemCurrentStatus("Monitors")""><span class="outer"><span class="inner reports png">Admin</span></span></a></li>
                <li class="item last" id="four"><a href="#" class="main"><span class="outer"><span class="inner settings">Settings</span></span></a></li>        
            </ul>
        </div>
    </div>
    <!-- MENU END -->

    <!-- CONTENT START -->
    <div class="grid_16" id="content">
        @RenderBody()
    </div>
    <div class="clear"> </div>

    @*<!-- FOOTER START -->
    <div class="container_16" id="footer">
    Website Administration by <a href="http://www.webgurus.biz">WebGurus</a>
    </div>
    <!-- FOOTER END -->*@
</div>
<!-- WRAPPER END -->
</body>
</html>