﻿@{
    ViewBag.Title = "Dashboard";
}

@section Styles {
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/dashboardui.css")" />
}

<div id="dashboard-container">
    <div id="dashboard" class="dashboard">
        <!-- this HTML covers all layouts. The 5 different layouts are handled by setting another layout classname -->
        <div class="layout">
            <div class="column first column-first">
            </div>
            <div class="column second column-second">
            </div>
            <div class="column third column-third">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // This is the code for definining the dashboard
    $(document).ready(function () {

        // load the templates
        $('body').append('<div id="templates"></div>');
        $("#templates").hide();
        $("#templates").load('@Url.Action("GetTemplate", "Dashboard")', initDashboard);

        function initDashboard() {
            var dashboard = $('#dashboard').dashboard({
                // layout class is used to make it possible to switch layouts
                layoutClass: 'layout',
                // feed for the widgets which are on the dashboard when opened
                json_data: {
                    url: '@Url.Action("ListWidgets", "Dashboard")'
                },

                // Definition of the layout
                // When using the layoutClass, it is possible to change layout using
                // only another class. In this case
                // you don't need the html property in the layout

                layouts:
              [
                {
                    title: "Layout1",
                    id: "layout1",
                    image: "layouts/layout1.png",
                    html: '<div class="layout layout-a"><div class="column first column-first"></div></div>',
                    classname: 'layout-a'
                },
                {
                    title: "Layout2",
                    id: "layout2",
                    image: "layouts/layout2.png",
                    html: '<div class="layout layout-aa"><div class="column first column-first"></div><div class="column second column-second"></div></div>',
                    classname: 'layout-aa'
                },
                {
                    title: "Layout3",
                    id: "layout3",
                    image: "layouts/layout3.png",
                    html: '<div class="layout layout-ba"><div class="column first column-first"></div><div class="column second column-second"></div></div>',
                    classname: 'layout-ba'
                },
                {
                    title: "Layout4",
                    id: "layout4",
                    image: "layouts/layout4.png",
                    html: '<div class="layout layout-ab"><div class="column first column-first"></div><div class="column second column-second"></div></div>',
                    classname: 'layout-ab'
                },
                {
                    title: "Layout5",
                    id: "layout5",
                    image: "layouts/layout5.png",
                    html: '<div class="layout layout-aaa"><div class="column first column-first"></div><div class="column second column-second"></div><div class="column third column-third"></div></div>',
                    classname: 'layout-aaa'
                }
              ]

            }); // end dashboard call

            // binding for a widgets is added to the dashboard
            dashboard.element.live('dashboardAddWidget', function (e, obj) {
                var widget = obj.widget;

                dashboard.addWidget({
                    "id": widget.id,
                    "title": widget.title,
                    "url": widget.url,
                    "metadata": widget.metadata
                }, dashboard.element.find('.column:first'));
            });

            // the init builds the dashboard. This makes it possible to first
            // unbind events before the dashboars is built.
            dashboard.init();
        }
    });

</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.15.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dashboard.js")"></script>

<!-- Must load language tag BEFORE script tag -->
<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
